<mat-card  style="padding: 1rem; display: flex; max-width: 500px">
  <h1>Register</h1>
  <mat-divider style="height: 2px; margin-bottom: 1rem">s</mat-divider>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input
        matInput
        [(ngModel)]="user.email"
        placeholder="email"
        name="email"
        type="text"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="user.password"
        matInput
        placeholder="Password"
        name="password"
        type="text"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="user.firstname"
        matInput
        placeholder="firstname"
        name="firstname"
        type="text"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="user.lastname"
        matInput
        placeholder="lastname"
        name="lastname"
        type="text"
      />
    </mat-form-field>
    <button
      color="primary"
      style="width: 100%"
      (click)="signUp()"
      mat-raised-button
    >
      Register
    </button>
  </form>
</mat-card>

<mat-card  style="margin:auto;padding: 1rem; margin-top: 1rem; width: 80%">
  <h1>Confirm Code</h1>
  <mat-divider style="height: 2px; margin-bottom: 1rem">s</mat-divider>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input
        matInput
        [(ngModel)]="user.code"
        placeholder="Enter Code"
        name="email"
        type="text"
      />
    </mat-form-field>

    <button
      color="primary"
      style="width: 100%"
      (click)="confirmSignUp()"
      mat-raised-button
    >
      Confirm
    </button>
  </form>
</mat-card>
