<mat-card
  style="
    display: flex;
    flex-direction: row;

    gap: 2rem;
    height: 3rem;
    align-items: center;
    overflow: hidden;
  "
>
  <div [ngStyle]="{ background: transaction.categoryColor, height: '100%' }">
    &nbsp; &nbsp;
  </div>

  <div
    style="display: flex; flex-grow: 1; justify-content: space-between;height: 100%;align-items: center;"
  >
    <div style="display: flex; flex-direction: column; gap: 0">
      <p style="margin: 0; font-weight: bold">{{ transaction.name }}</p>
      <p style="margin: 0">{{ transaction.date }}</p>
    </div>
    <mat-chip
      [ngStyle]="{
        border: '2px solid',
        color: transaction.categoryColor,
        'background-color': 'transparent'
      }"
    >
      <p [ngStyle]="{ color: transaction.categoryColor, 'font-size': '12px' }">
        {{ transaction.categoryName }}
      </p></mat-chip
    >

    <h5></h5>
    <h5 [ngStyle]="isExpense?  {'color': 'red' } : {'color':'blue'}   " style="margin-right:1rem">{{isExpense? '-' : '+'}}{{ transaction.amount }}</h5>
  </div>
</mat-card>
