<mat-card style="padding: 1rem; display: flex; max-width: 500px">
  <a href="" style="align-self: flex-end; margin-bottom: 1rem">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="close"
      style="text-decoration: none; color: black"
    ></mat-icon>
  </a>

  <h3 style="text-align: center">Welcome</h3>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input
        matInput
        [(ngModel)]="user.email"
        placeholder="email"
        name="email"
        type="email"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="user.password"
        matInput
        placeholder="Password"
        name="password"
        type="password"
      />
    </mat-form-field>

    <button
      color="primary"
      style="width: 100%"
      (click)="signIn()"
      mat-raised-button
    >
      Sign in
    </button>
  </form>
</mat-card>
