<div class="example-card" style="border-radius:5px; background-color: white; display: flex; flex-direction: column;" >
  <div
    style="width:100%;background-color: {{
      category.color
    }};border-top-left-radius: 5px;border-top-right-radius: 5px;margin-bottom:0"
  >
    &nbsp;
  </div>

  <div style="margin-top:0;display: flex;flex-direction: column; padding-left: 10px;  margin-top: 10px;">
    <div style="font-size: x-small;font-weight: bold;text-transform: capitalize;">{{ category.name }}</div>
    <div style="font-size: x-small;">{{
      category.incomeExpenseId == 1 ? "Expense" : "Income"
    }}</div>
  </div>
 
  <div style="display:flex;flex-direction: row  ">
  
    <button 
    [ngStyle]="{'color': category.defaultCategory?  'white':'#5A5A5A'  }"
    style="background-color:transparent;border:none;width:fit-content;margin-top:5px;color:#5A5A5A"(click)="onDelete()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
    </button>
    
    <button 
    [ngStyle]="{'color': category.defaultCategory?  'white':'#5A5A5A'  }"
    style="background-color:transparent;border:none;width:fit-content;margin-top:5px;color:#5A5A5A"(click)="onDelete()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
    </button>
  </div>

 
</div>
