<div
  style="
    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
  "
>
  <h1>
    
    <ngx-charts-bar-vertical-2d
   
  [results]="multi"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [legendTitle]="legendTitle"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)">
</ngx-charts-bar-vertical-2d>
  </h1>
</div>
