<mat-tab-group animationDuration="0ms">
  <mat-tab label="Expenses">
    <div style=" width:80%;height: 500px;margin:auto;display: flex;justify-content: center;margin-top:30px">
      
      <ngx-charts-pie-chart
      style="overflow-y: hidden;overflow-x: hidden"
        [view]="[400, 400]"
        [results]="expensesPieChart"
        [doughnut]="true"
        [legend]="true"
        [results]="single"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        
      >
      </ngx-charts-pie-chart>

      <!-- <h1 *ngIf="expensesPieChart.length == null" >No data</h1> -->
    </div>
  </mat-tab>
  <mat-tab label="Income">

    <div   style=" width:80%;height: 500px;margin:auto;display: flex;justify-content: center;margin-top:30px">
       
      <ngx-charts-pie-chart   
      style="overflow-y: hidden;overflow-x: hidden"
        [view]="[400, 400]"
        [results]="incomePieChart"
        [doughnut]="true"
        [legend]="true"
        [results]="single"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        
      >
      </ngx-charts-pie-chart>
    
       
     
    </div>
    <!-- <ngx-charts-pie-chart
      [results]="incomePieChart"
      [doughnut]="true"
      [legend]="true"
    >
    </ngx-charts-pie-chart> -->

 
  </mat-tab>
</mat-tab-group>
