<div
  style="
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  "
>
  <app-header *ngIf="canShowHeader" />
  <section style="background-color: red; height: 100%; position: relative">
    <mat-drawer-container style="height: 100%">
      <mat-drawer #drawer mode="side">
        <a style="display: block" href="/dashboard">dashboard</a>
        <a style="display: block" href="/settings">settings</a>
        <a style="display: block" href="/transactions">Transactions</a>
      </mat-drawer>

      <div style="height: 100%">

        <button   type="button"   (click)="drawer.toggle()" mat-fab color="primary" aria-label="Example icon button with a delete icon " style="position: absolute; top: 0">
          <mat-icon>chevron_right</mat-icon>
        </button>

        
        <router-outlet />
      </div>
    </mat-drawer-container>
  </section>
</div>
