<div
  style="
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  "
>
  <app-header *ngIf="canShowHeader" />
  <section style="background-color: red; height: 100%; position: relative">
    <mat-drawer-container style="height: 100%">
      <mat-drawer style="  padding:20px;background-color:#182138;display:flex; flex-direction: column;align-items: space-between;" #drawer mode="side">
        <div>
      
        <a style="display: block; text-decoration: none;padding-bottom: 15px;color:#f5f5f5" href="/dashboard">
          <mat-icon> home</mat-icon></a>

        <a style="display: block; text-decoration: none;padding-bottom: 15px;color:#f5f5f5" href="/settings">
          <mat-icon> settings</mat-icon></a>

        <a style="display: block; text-decoration: none;padding-bottom: 15px;color:#f5f5f5" href="/transactions">
          <mat-icon> pie_chart</mat-icon></a>
        </div>
          <a style="margin-top:auto;display: block; text-decoration: none;padding-bottom: 15px;color:#f5f5f5" href="/" (click)="signOut()">
            <mat-icon> logout</mat-icon></a>
 
      </mat-drawer>

      <div   style="height: 100vh">
        <button   
        *ngIf="canShowHeader==false" 
        type="button"
        (click)="drawer.toggle()" 
        mat-icon-button aria-label="Example icon button with a vertical three dot icon"
        style="position: absolute; top: 0">
          <mat-icon *ngIf="!drawer.opened">keyboard_arrow_right</mat-icon>
          <mat-icon *ngIf="drawer.opened">keyboard_arrow_left</mat-icon>
        </button>
 
        

        <router-outlet />
      </div>
    </mat-drawer-container>
  </section>
</div>
