.example-form {
  width: 50%;
 
}

.example-full-width {
  width: 100%;
 
 
 
}
.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.avatar-container {
  position: relative;
  width: fit-content;
  margin-bottom: 2rem;
}

.image-container {
  height: 100px;
  width: 100px;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  box-shadow: 0 2px 10px 10px #0000000b;
}
.icon-wrapper {
  position: absolute;
  height: 20px;
  width: 20px;
  padding: 0.35rem;
  background-color: #2962ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 75%;
  z-index: 2;
  cursor: pointer;

  &:hover {
    transition: all 0.25s;
    background-color: darken(#2962ff, 15%);
  }

  .icon {
    color: white;
  }

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="file"] {
    display: none;
  }
}
