<div
  style="width: 100%; height: 100%; overflow-y: scroll"
  [ngStyle]="{
    background: 'url(/assets/background.svg) no-repeat 0 0  ',
    'background-size': 'cover'
  }"
>
  <div
    style="
      width: 80%;
      margin: auto;
      padding-top: 20px;
     
    "
  >
    <div>
      <app-month-selection
        (onNextDate)="handleNextMonth($event)"
        [date]="date"
      />
    </div>

    <div
      style="
        display: flex;
        flex-direction: row;

        gap: 1rem;
        position: relative;
     
      "
    >
      <div style="flex-grow: 1; box-sizing: border-box;background-color: white;border-radius: 10px;box-shadow:30px;">
        <app-charts
          [expensesPieChart]="expensesPieChart"
          [incomePieChart]="incomePieChart"
        />
      </div>

      <div style="width: 50%;  display: flex;flex-direction: column;">
        <div><app-monthly-transaction (deleteTransaction)="deleteTransaction($event)" [transactions]="transactions" /></div>
        <div style="margin-top: auto;">
        <app-pagination
          [currentPage]="currentPage"
          [totalPages]="totalPages"
          style="width: 100%"
          (onNextPage)="handleNextPage($event)"
        />
      </div>
      </div>
    </div>
  </div>
  <!--footer button-->
  <div
    style="
      display: flex;
      justify-content: flex-end;
      width: 95%;
      margin-top: 2rem;
      margin-bottom: 4rem;
    "
  >
    <button
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      (click)="toggleForm()"
    >
      <mat-icon>add</mat-icon>
    </button>

    <div
      *ngIf="openForm"
      style="
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 100;
      "
      
    >
    
      <app-transaction-form
      (onAddTransaction)="handleAddTransaction($event)"
        (onCloseForm)="toggleForm()"
        [currentUserId]="currentUserId"
        [transactions]="transactions"
        [transactionsPieChart]="transactionsPieChart"
        [transaction]="transaction"
      />
    </div>
  </div>
</div>
